.Spinner {
    width: 80px;
    margin: 20px auto;
    padding: 5px 0;
    border-radius: 3px;

    &-Circle {
        display: block;
        margin: 10px auto;
        width: 30px;
        height: 30px;

        border: 3px solid #1a1a1a;
        border-top-color: #00b073;
        border-left-color: #00b073;

        border-radius: 100%;
        animation: spin 1.15s infinite ease-out;
    }

    &-Message {
        color: #888;
        font-size: 0.7em;
        line-height: 1.3em;
        text-transform: uppercase;
        text-align: center;
    }
}

@keyframes spin {
    100% {
        transform: rotate(2turn);
    }
}
